name: GitHub Action Workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main  
  workflow_dispatch:

jobs: 
  hello:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: hello world
        run: echo "Hello World"
        shell: bash
    
  goodbye: 
    runs-on: ubuntu-latest
    steps: 
      - name: goodby world
        run: echo "Goodbye World"
        shell: bash
